<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Hopalongs FTW!</title>

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/code.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/auth/style.css">
</head>


<body>
<div id='main'>

{% block navbar %}
<div id='navbar' class='section'>
    <a href="/auth/logout">Logout ({{ user.username }})</a>
</div>
{% endblock %}

<div id='content' class='section'>
{% block content %}
&nbsp;
{% endblock %}
</div>

</div>
</body>
</html>

